<div class="container">
<div class="col-md-12">
  <app-header></app-header>
</div>

<div class="col-md-12">
 <div class="row">
    <div class="col-sm-8">
      <img src="https://images.unsplash.com/photo-1496188588793-0ee6a589be64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-fluid img-thumbnail">
    </div>
    <div class="col-sm-4">
      <img src="https://images.unsplash.com/photo-1544476866-ce192b63bd7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=719&q=80" class="img-thumbnail mb-2">
      <img src="https://images.unsplash.com/photo-1579432111557-611f9149f0b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80" class="img-thumbnail mb-2">
    </div>

<!-- <div class="col-lg-4 col-md-4 col-sm-6 mb-2">
    <div *ngFor="let m of data"> 
       <img src="{{ m.images}}" class="img-thumbnail">
    </div>
</div> -->

    <div class="col-lg-4 col-md-4 col-sm-6 mb-2">
      <img src="https://images.unsplash.com/photo-1593405844957-3854dae97a19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 mb-2">
      <img src="https://images.unsplash.com/photo-1593402024151-7484bf6ab937?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-thumbnail">
    </div>
     <div class="col-lg-4 col-md-4 col-sm-6 mb-2">
      <img src="https://images.unsplash.com/photo-1593178395388-91318b9a42e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-thumbnail">
    </div>
  </div>
</div>
</div>