<div class="container">
<div class="col-md-12">
  <app-header></app-header>
</div>

<div class="col-md-12">
 <div class="row">
    <div class="col-sm-8">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>
    </div>
    <div class="col-sm-4">
       <div class="embed-responsive embed-responsive-16by9 z-depth-1-half mb-2">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                allowfullscreen></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half mb-2">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
              allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 mb-2">
      <img src="https://images.unsplash.com/photo-1593405844957-3854dae97a19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 mb-2">
      <img src="https://images.unsplash.com/photo-1593402024151-7484bf6ab937?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-thumbnail">
    </div>
     <div class="col-lg-4 col-md-4 col-sm-6 mb-2">
      <img src="https://images.unsplash.com/photo-1593178395388-91318b9a42e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-thumbnail">
    </div>
  </div>
</div>


</div>


